<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Word Counter</title>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Word Counter</h1>
    </div>
    <div>
      <form action="/wordcounter" method="post">
        <label for="sentence">Add a new sentence</label>
        <input id="sentence" name="sentence" type="text" pattern=".{1,}" required>
        <label for="word">Add a new word</label>
        <input id="word" name="word" type="text" pattern="[A-Za-z]{1,}" required>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>
